<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="../scripts/Board/board.js" type="text/javascript" ></script>
  <title>Document</title>
</head>

<body>
  <section>
    <div class="userInput">
      <input type="text" id="dimension" placeholder="Insert Tic Tac Toe dimension" class="theDimension">
      <button class="createTTTBody" id="showBoard">Generate</button>
    </div>
    <table id="tictactoe" class="ttt">

    </table>
  </section>
</body>

</html>
